<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" routerLink="/">VisaServer2021</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active text-white" routerLink="/">Home</a>
                <a class="nav-link active text-white" routerLink="/ccmei/cadastro">Cadastro - CCMEI</a>
                <a class="nav-link active text-white" routerLink="/ccmei/viewall">Consultas</a>
                <a class="nav-link active text-white" routerLink="/isolados">Isolados</a>
                <a class="nav-link active text-white" routerLink="/aif">AIF</a>
            </div>
        </div>
    </div>
</nav>